@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

.home__section {
  overflow-x: hidden;
}

.jumbotron__text {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 43px;
  line-height: 59.9px;
}
