.jumbotron {
  background-image: url(../../assets/storytelling1.png);
  /* background-color: red; */
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
}

.full__height {
  height: 100vh;
}

.half__height {
  height: 50vh;
}
